on: [push, pull_request, workflow_dispatch]

name: Build

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: zmkfirmware/zmk-build-arm:stable
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Cache west modules
        uses: actions/cache@v4
        env:
          cache-name: cache-zephyr-modules
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
            zmk/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('manifest-dir/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
            
      - name: West Init
        run: west init -l config
        
      - name: West Update
        run: west update
        
      - name: West Zephyr export
        run: west zephyr-export
        
      - name: West Build (Corne-ish Zen Left)
        run: west build -s zmk/app -b corneish_zen_left@2 -- -DZMK_CONFIG="${GITHUB_WORKSPACE}/config"
        
      - name: Rename zmk.uf2
        run: cp build/zephyr/zmk.uf2 corne-ish-zen-left.uf2
        
      - name: West Build (Corne-ish Zen Right)
        run: west build --pristine -s zmk/app -b corneish_zen_right@2 -- -DZMK_CONFIG="${GITHUB_WORKSPACE}/config"
        
      - name: Rename zmk.uf2
        run: cp build/zephyr/zmk.uf2 corne-ish-zen-right.uf2
        
      - name: Archive (Corne-ish Zen)
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: |
            corne-ish-zen-left.uf2
            corne-ish-zen-right.uf2
